---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { Markdown } from 'astro/components';
const data = Astro.fetchContent('../blog/*.md'); 
---

<BaseLayout>
    <section class="prose prose-invert mx-auto">
        <Markdown>
            ## About us
            Sint incididunt veniam enim et pariatur eiusmod. Nisi cillum incididunt consequat dolor. Ea do nisi commodo enim sint laboris minim incididunt minim duis mollit ut aliquip. Ex et ad dolor fugiat non sunt. Deserunt anim aute ex est nostrud tempor deserunt exercitation duis pariatur nisi irure mollit veniam. Occaecat nulla commodo id commodo pariatur sint. Ex sint ut ex dolor qui non in ad adipisicing amet.
        </Markdown>
    </section>

    <section class="prose prose-invert mx-auto mt-7">
        <h2>Our latest blog posts</h2> 

        {data.slice(0, 3).map((post) => (
            <article class="bg-violet-700/20 p-4 my-4 rounded-md ">
                <h3 class="mt-0">{post.title}</h3>
                <p> by {post.author} · {post.date}</p>
                <a href={post.url}>Read more</a>
            </article>
        ))} 
    </section>
</BaseLayout>