---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPost from '../../components/BlogPost.astro'
import { DateTime } from "luxon";
const data = Astro.fetchContent('../blog/*.md'); 
---

<BaseLayout>
    <section class="prose prose-invert mx-auto">
        <h2>Blog</h2> 

        {data.map((post) => (
			<BlogPost blogpost={post} />
        ))} 
    </section>
</BaseLayout>