---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Markdown } from 'astro/components';
---

<BaseLayout>
    <section class="prose prose-invert mx-auto">
        <Markdown>
            ## About us
            Sint incididunt veniam enim et pariatur eiusmod. Nisi cillum incididunt consequat dolor. Ea do nisi commodo enim sint laboris minim incididunt minim duis mollit ut aliquip. Ex et ad dolor fugiat non sunt. Deserunt anim aute ex est nostrud tempor deserunt exercitation duis pariatur nisi irure mollit veniam. Occaecat nulla commodo id commodo pariatur sint. Ex sint ut ex dolor qui non in ad adipisicing amet.
        </Markdown>
    </section>

    
</BaseLayout>