---
// Component Imports
import Tour from '../components/Tour.astro';
import LargeHeader from '../components/LargeHeader.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'KodamaSoft';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
	<link rel="stylesheet" href={Astro.resolve('../styles/home.css')}>
	
	<script type="text/javascript" src={Astro.resolve('../js/lib/three.min.js')}></script>
</head>
<body>
	<main>
		<LargeHeader />
		<Tour />
	</main>
</body>
</html>
