---
import { Icon } from 'astro-icon'
---

<footer class="border-t border-slate-500/20 mt-10">
    <div class="container max-w-4xl mx-auto flex py-8 flex-col text-center">
        <div class="w-full mx-auto flex justify-center flex-wrap items-center gap-3">
            <a href="" class="h-auto w-12">
                <Icon pack="fa-brands" name="twitter" title="Twitter"/>
            </a>
            <a href="" class="h-auto w-12">
                <Icon pack="fa-brands" name="bandcamp" title="Bandcamp"/>
            </a>
            <a href="" class="h-auto w-12">
                <Icon pack="fa-brands" name="facebook" title="Facebook"/>
            </a>
            <a href="" class="h-auto w-12">
                <Icon pack="fa-brands" name="discord" title="Discord"/>
            </a>
        </div>
        
        <a data-i18n="footer.source_code" class="text-slate-500 transition hover:text-slate-50 mt-5 hover:underline" href="https://github.com/krz0001/kodama" target='_blank'>Source code</a>

    </div>

</footer>

<style>
[astro-icon] {
    @apply text-slate-500 no-underline hover:text-slate-50 hover:scale-105 transition;
}

a:focus [astro-icon] {
    @apply text-slate-50 scale-105 outline-none;
}
</style>
