<header id="header">
  <h1>KodamaSoft</h1>
  <!-- <h2>section title if it exists lol</h2> -->
</header>

<style>
#header {
  width: 100%;
  text-align: center;
  display: grid;
  align-content: center;
  place-items: center;
  padding: 0.5rem 1rem;
  font-family: 'Audiowide';
  background: black;
}

#header h1{
  text-shadow: 0px 0px 20px #8b6abd;
  font-size: 2.5em;
}
</style>