---
import { Icon } from 'astro-icon'
---

<nav class="bg-purple-900/30 backdrop-blur">
      <button id="navbar-toggle" type="button" class="border border-gray-300/50 m-4 sm:hidden" onclick="toggleNavbar()">
        <Icon name="icon-park-outline:hamburger-button" class="h-7"/>
      </button>

  <div id="navbar" class="hidden flex-col sm:flex-row justify-center p-4 gap-4">
    <div class="flex flex-col sm:flex-row justify-center gap-4">
      <a href="/" data-i18n="navbar.home">Home</a>
      <a href="/blog" data-i18n="navbar.blog">Blog</a>
      <a href="/discography" data-i18n="navbar.discography">Discography</a>
      <a href="/games" data-i18n="navbar.games">Games</a>
      <a href="/projects" data-i18n="navbar.projects">Projects</a>
      <a href="/about" data-i18n="navbar.about">About</a>
    </div>
    <select id="language-switcher" class="bg-gray-900/50 mx-auto sm:mx-0 border-2 border-transparent ">
      <option value="en">English</option>
      <option value="jp">日本語</option>
    </select>
  </div>
</nav>

<script>
function toggleNavbar() {
  var element = document.getElementById("navbar");
  element.classList.toggle("hidden");
}
</script>

<style>
#navbar a, 
#navbar-toggle,
#language-switcher {
   @apply text-gray-300 hover:bg-purple-700/50 hover:text-white px-3 py-2 rounded-md text-sm font-medium border-2 border-transparent focus-visible:border-purple-600 focus-visible:outline-none transition;
}

#navbar {
  @apply sm:flex;
}
</style>


