<nav class="bg-gray-800/50 backdrop-blur">
  <div class="flex justify-center p-4 gap-4">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/discography">Discography</a>
  </div>
</nav>

<style>
a {
  @apply text-gray-300 hover:bg-gray-700/50 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition
}

</style>