---
import { Markdown } from 'astro/components';
---

<article>
	<section>
		<Markdown>
			## Welcome to KodamaSoft!

			**KodamaSoft** is a small french amateur community crafting video games, visual novels, and music! A multitude of young writers, programmers, sound and visual artists are part of this group to create ambitious and interesting amateur projects! You can join us on Discord now and see all that for yourself, where we also organize community music albums where anyone can participate!

			For now, you can check out our growing Discography, and Once Upon a Child, a visual novel made and written by Dream! Stellar Sanctuary is another project in development, scheduled to release someday!

			There are a lot of other projects in development, and we hope you’ll be able to hear more from them soon enough!

			This website is still a huge work in progress, but you can learn and see more from us on our Twitter and Discord to follow what’s been happening!
		</Markdown>
	</section>

	<section>
		<h2>👀 Want to join us?</h2>
		<p>Lorem ipsum dolor sit amet, usu at dicam dolore inimicus. Ad voluptua definiebas vim, te vim omnes postulant. Oblique facilisis id qui. Eros latine pertinax no pri, his ei lorem nominati. Malis tractatos mnesarchum cum ut, at cibo sale pro. Qui ex nibh augue vituperata, ut nec fabulas evertitur vituperata. In eos natum populo malorum, equidem ancillae invenire nec ut, no his quas tation ponderum.</p>
	</section>
</article>

<style>
	article {
		padding-top: 2em;
		line-height: 1.5;
	}
	section {
		margin: 0 auto;
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		gap: 1em;
		max-width: 70ch;
	}

	pre,
	code {
		font-family: var(--font-mono);
		background: var(--color-light);
		border-radius: 4px;
	}

	pre {
		padding: 1em 1.5em;
	}

	.tree {
		line-height: 1.2;
	}

	code:not(.tree) {
		padding: 0.125em;
		margin: 0 -0.125em;
	}
</style>
