---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AlbumListing from "../../components/AlbumListing.astro";
import albumsJson from "../../../public/discography.json"
---

<BaseLayout>
    <div class="flex flex-wrap">
        {albumsJson.map((albumObj) => (
            <AlbumListing album={albumObj} />
        ))}
    </div>
</BaseLayout>