---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const {title = "KodamaSoft"} = Astro.props;
---

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
	<script type="module" src={Astro.resolve('../js/scripts/i18n.js')}></script>

	<slot name="head"/>
</head>
<body class="bg-slate-900/80 text-white backdrop-blur-sm min-h-screen" style="">
    <Header />
	<main class="container pt-10 px-6 mx-auto">
        <slot/>
	</main>
	<Footer/>
</body>
</html>

<style>

html {
	@apply bg-slate-900 bg-[url('public/assets/img/space_background.jpg')] bg-no-repeat bg-cover bg-center bg-fixed;
}
</style>


