---
import LargeHeader from '../components/LargeHeader.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
const {title = "KodamaSoft", lang = "en", header = "small"} = Astro.props;
---

<html lang={lang}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
	<link rel="stylesheet" href={Astro.resolve('../styles/home.css')}>

	<slot name="head"/>
</head>
<body>
    { header === "large" ? <LargeHeader /> : <Header/> }
	<Navbar />
	<main>
        <slot/>
	</main>
</body>
</html>

