---
import BaseLayout from './BaseLayout.astro';
import { DateTime } from "luxon";
const { content } = Astro.props;
---

<BaseLayout title={"KodamaSoft - " + content.title}>
		<div class="max-w-prose	mx-auto border-b pb-4 mb-4 border-slate-500/20 sm:text-center">
			<h2 class="text-4xl	font-extrabold mb-3">{content.title}</h2>
			<p>Written by <span class="text-violet-500">{content.author}</span></p>
			<p class="text-slate-400">Published {DateTime.fromISO(content.date).setLocale('en').toRelativeCalendar()}</p>
		</div>
		<div class="prose prose-invert mx-auto">
        	<slot/>
		</div>
</BaseLayout>
